
*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
nav{
    background-color: black;
    color: white;
    height: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#category-bar{
    background-color: #232f3f;
    height:50px ;
}
#carousal{
    width: 100vw;
    height: 110vh;
}
#cards-parent{
    display: flex;
    padding:16px;
    gap:16px;
}
.cards{
    border: 1px solid green;
    flex-grow: 1;
    height: 200px;
    padding: 16px;
    flex-basis: 100%;
   
    
    
}
.card-child-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create 4 equal-width columns */
    gap: 20px; /* Adjust the gap between grid items */
    padding: 20px;
    background-color: #f4f4f4; /* Optional: Background color */
    border-radius: 8px; /* Optional: Rounded corners */
}

